<p>
    
  <a href="home/index">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="home/about">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="home/contact">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Back to top</a>
</p>
<div id="copyright">
  <br />Webmaster: <%= mail_to "Creamery", "Store", :encode => "javascript" %>
    &nbsp;&nbsp;Copyright 2020
  <br /><br />
</div>