<div class="row">  
  <h4>Welcome to Delicious Creamary</h4>  

    <div class="card">
      <div class="card-content">
        <p>TThe Broken English Group is excited to announce the opening of the new Delish Creamery 
            Guests can use the walk up window facing Sheffield Ave or order tableside when dining in.
            Partnering with local ice cream makers, 
            Delish Creamery offers a selection of Mexican-style premium hard ice cream that will be served in churro cones ($5), cups ($4), 
            and concha ice cream sandwiches ($6). The menu also features several paleta ($5) flavors, including a special *paw-leta* flavor for dogs. CBD oil can be added for $5.
        </p>
      </div>
    </div>
  </div>
</div>
